# This is a basic workflow to help you get started with Actions

name: Automated Test-PyPi Deployment


# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'Bump and Publish')

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    # Runs a single command using the runners shell
    - name: Setup Python
      uses: actions/setup-python@v2.3.1
      with:
          python-version: 3.7
    - name: Install Dependancies
      run: |
          cd $GITHUB_WORKSPACE
          python -m pip install --upgrade pip
    - name: Run Tests using Python-unittest
      run:
          python -m unittest tests/JSONConfigParser_test.py
        
  bump-verison:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: test

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    # Runs a single command using the runners shell
    - name: Setup Python
      uses: actions/setup-python@v2.3.1
      with:
          python-version: 3.7
          
    - name: Install Dependancies
      run: |
          python -m pip install --upgrade pip
          
    - name: Bump Version
      run: |
          cd utilities
          python bump-version.py --test --bug
          
    - name: Commit Bumped Version
      run: |
          git add utilities/version.json
          git config --global user.name 'Tanmoy Sen Gupta'
          git config --global user.email 'tanmoysg@users.noreply.github.com'
          git commit -m "Bumped Version Up"
          git push  
          
          
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: bump-verison

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Setup Python
      - name: Setup Python
        uses: actions/setup-python@v2.3.1
        with:
            python-version: 3.7
            
      - name: Install Dependancies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          
      # Runs a set of commands using the runners shell
      - name: Build 
        run: |
          python setup.py sdist bdist_wheel --test-pypi
          
      - name: Publish to Test-PyPi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_ACCESS_TOKEN }}
        run: |
          twine upload --repository testpypi --skip-existing dist/*

